{% extends "../base_generic.html" %}

{% block title %}Delete All Photos - KesiKesi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
<script language="Javascript" type="text/javascript">
$(function() {
    $("#deleteForm").submit(function(){
    	if (confirm('Are you sure you want to delete all of your photo data?')) {
    		return true;
    	} else {
    		return false;
    	}
    });
});
</script>
{% endblock %}

{% block content %}
<div id="title">
	<span>Delete All Photos</span>
</div>

{% if status %}
<p>Operation now in progress... Take few minute.</p>
{% else %}
<form action="/page/settings/delete_all_photos" method="post" id="deleteForm">
	<input type="hidden" name="mode" value="delete" />
	<p><input type="checkbox" name="delete" value="1" /> Delete Execute</p>
	<input type="submit" value="Submit" />
</form>
{% endif %}

<hr />

<center><p>{{ account }}</p></center>

{% endblock %}