{% load i18n %}<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="KesiKesi is a photo sharing application that allows you to hide certain areas that you would like to keep secret, and to reveal the hidden areas as well.">

<meta property="og:image" content="http://www.kesikesi.me/api/get_image?id={{ image_key }}&style=icon120"/>
<meta property="mixi:image" content="http://www.kesikesi.me/api/get_image?id={{ image_key }}&style=icon120" />
<meta property="og:title" content="KesiKesi | Turn your photos into a little secret."/>
<meta property="og:url" content="http://www.kesikesi.me/{{ image_key }}"/>

<link href="/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/css/view.css?2012010209" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Allerta+Stencil|Black+Ops+One|Sansita+One' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script language="Javascript" type="text/javascript">
	google.load("jquery", "1");
</script>

<script language="Javascript" type="text/javascript">
$(function() {
	if (navigator.userAgent.indexOf('iPad') > 0) {
		$("#launchApp").click(function(){
			document.location = "ksks://www.kesikesi.me/{{ image_key }}";
			{% if safari %}
		    var time = (new Date()).getTime();
		    setTimeout(function(){
		        var now = (new Date()).getTime();
		
		        if((now - time) < 400) {
		            if(confirm('You do not seem to have kesikesi installed, do you want to go download it now?')){
		            	document.location = 'http://itunes.apple.com/app/id471597529?mt=8';
		            }
		         }
		    }, 300);
		    {% endif %}
	    });
	    
	    $("#ad").hide();
	} else {
		$("#launchApp").hide();
	}
});
</script>

<title>KesiKesi | Turn your photos into a little secret.</title>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1167116-20']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

<div id="wrapper">
	<div id="header"><h1><a href="/">KesiKesi</a></h1></div>
	
	<div id="free_download"><a href="http://itunes.apple.com/app/id471597529?mt=8"><img src="/images/app_store.png" width="140" /></a></div>
	
	<div id="body">
		<div style="width: 360px; float: left;">
			<div id="photo">
				<div style="text-align: center;font-size: 0.8em;line-height:2.3em; font-family: 'Sansita One', cursive;">Turn your photos into a little secret.</div>
				<img src="/api/get_image?id={{ image_key }}" width="364" />
				<div style="width:100%;font-style: italic; font-weight: bold; font-size:1em;line-height: 2em; text-align: center;">{{ comment }}</div>
			</div>
			
		</div>
		<div style="margin-left: 380px;width: 430px;">
			<div id="title">{% trans "Let's use the app to do the scratching!" %}</div>
			<div id="title_message">{% trans "You can scratch to reveal the hidden parts." %}</div>
			
			<div id="qr_code">
				<p><img src="http://chart.apis.google.com/chart?chs=200x200&cht=qr&chl=http://www.kesikesi.me/{{ image_key }}" /></p>
			</div>
			<div id="read_count"><p>{{ read_count }} KesiKesi</p></div>
			<div id="report"><p><a href="https://spreadsheets.google.com/spreadsheet/viewform?formkey=dHFpZmJjNjNMZUdEVmp0ZHdNNHZuSEE6MQ&hl=en&entry_0=http://www.kesikesi.me/{{ image_key }}">{% trans "Report a Problem." %}</a></p></div>
			
			<div id="launchApp">
				<span>Scrach!</span>
			</div>
			
			<div id="shareButton">
				<div style="position:absolute;left:0;width:100px;height:30px;">
					<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-url="http://www.kesikesi.me/{{ image_key }}" data-via="kesikesi_me" data-text="#KesiKesi | Turn your photos into a little secret.">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
				</div>
				<div style="position:absolute;left:110px;width:60px;height:30px;">
					<a href="http://mixi.jp/share.pl" class="mixi-check-button" data-key="068c579efd82383ef2a1c7172795eca407b76a88" data-url="http://www.kesikesi.me/{{ image_key }}">mixiチェック</a>
	    			<script type="text/javascript" src="http://static.mixi.jp/js/share.js"></script>
	    		</div>
    			
    			<div style="position:absolute;left:180px;top:13px;width:50px;height:30px;">
	    			<!-- Place this tag where you want the +1 button to render -->
					<g:plusone annotation="none"></g:plusone>
					
					<!-- Place this render call where appropriate -->
					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</div>
				
				<div style="position:absolute;left:240px;width:100px;height:30px;">
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) {return;}
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					
					<div class="fb-like" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
				</div>
				
				
			</div>
			
			<div id="ad" style="margin-left:100px;margin-top:5px;margin-bottom:20px; width:234px; height:60px;">
				<script type="text/javascript"><!--
				google_ad_client = "ca-pub-1692543340482705";
				/* kesikesi.me */
				google_ad_slot = "9323335639";
				google_ad_width = 234;
				google_ad_height = 60;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			</div>
	
		</div>
	</div>
	
	<div id="footer"><p>&copy; 2012 KesiKesi.</p></div>
</div>

</body>
</html>