body {
	width: 100%;
	height: 100%;
	background-image: url('/images/bg.png');
}

#wrapper {
	position: relative;
	width: 100%;
	height: 700px;
	padding-top: 35px;
	background-image: url('/images/head_bg.png');
	background-repeat: repeat-x;
}

#contents {
	margin: 0 auto;
	width: 964px;
	height: 560px;
	background-color: #FFFFFF;
}

#left_box {
	float: left;
	width: 482px;
	height: 560px;
}

#right_box {
	margin-left: 482px;
	padding-left: 150px;
	padding-top: 58px;
	width: 330px;
	height: 560px;
}

#slideshow {
    position:relative;
    width: 311px;
    height: 502px;
}

#slideshow img {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:8;
}

#slideshow img.active {
	z-index:10;
}

#slideshow img.last-active {
	z-index:9;
}

#contents_alpha {
	clear: both;
	position: absolute;
	left: 50%;
	top: 35px;
	margin-left: -483px;
	width: 965px;
	height: 560px;
	background-image: url('/images/alpha_bg.png');
	z-index:1000;
}

#contents h1 {
	padding-top: 115px;
	padding-left: 20px;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 4em;
}

#contents h2 {
	padding-left: 35px;
	font-family: 'Sansita One', cursive;
	font-size: 1.5em;
}

#title_box {
	padding-top: 290px;
	width: 550px;
	height: 100px;
}

#title_box h3 {
	font-size: 1.5em;
	line-height: 1.6em;
}

#app_store {
	float: left;
	padding-top: 30px;
	width: 238px;
	height: 82px;
}

#watch_the_video {
	padding-top: 30px;
	margin-left: 258px;
	width: 238px;
	height: 82px;
}

#footer {
	clear: both;
	position: relative;
	top: 75px;
	left: 50%;
	margin-left: -482px;
	width: 964px;
	height: 35px;
	font-size: 0.8em;
	color: #FFFFFF;
	font-family: 'Allerta Stencil', sans-serif;
}

#copyright {
	float: left;
	width: 200px;
	height: 35px;
}

#contacts_info {
	float: right;
	width: 200px;
	height: 35px;
	text-align: right;
}

#contacts_info a {
	color: #FFFFFF;
}
