body {
	background-image: url(/images/stripe.png);
	margin: 0 auto;
}

#wrapper {
	margin: 0 auto;
	width: 480px;
}

#body {
	margin: 20px;
	padding: 10px;
	background-color: rgba(0,51,102,0.4);
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#header {
	margin: 10px;
	paffing-left: 10px;
	width: 250px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #CCCCCC;
	text-align: center;
	opacity: 0.6;
	
}

#header h1 {
	padding-bottom: 5px;
	font-size: 2.5em;
	font-family: 'Sunshiney', serif;
	letter-spacing: 0.13em;
}

#photo {
	margin: 10px;
}

#photo img {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#qr_code {
	margin-left: 110px;
	margin-bottom: 10px;
}

#qr_code img {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#read_count {
	text-align: center;
	font-family: 'Sunshiney', serif;
	font-size: 1.5em;
	letter-spacing: 0.13em;
}

#report {
	text-align: center;
}

#footer {
	text-align: center;
	font-family: 'Sunshiney', serif;
	font-size: 1.5em;
	letter-spacing: 0.13em;
}