body {
	background-image: url(/images/stripe.png);
	margin: 0 auto;
}

#wrapper {
	margin: 0 auto;
	width: 320px;
}

#body {
	margin: 5px;
	padding: 5px;
	background-color: rgba(0,51,102,0.4);
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#header {
	margin-top: 5px;
	width: 320px;
}

#header h1 a {
	color: #000000;
	text-decoration: none;
	padding-left: 10px;
	padding-top: 3px;
	font-size: 1em;
	line-height: 1.3em;
	font-family: 'Allerta Stencil', sans-serif;
	letter-spacing: 0.13em;
}

#title {
	color: #FFFFFF;
	font-size: 0.8em;
	font-family: 'Sansita One', cursive;
	padding-bottom: 5px;
	text-align: center;
}

#sub_title {
	clear: both;
	width: 100%;
	color: #FFFFFF;
	font-size: 0.9em;
	font-family: 'Sansita One', cursive;
	text-align: center;
	font-weight: bold;
}

#title_message {
	clear: both;
	width: 100%;
	color: #FFFFFF;
	font-size: 0.8em;
	font-family: 'Sansita One', cursive;
	text-align: center;
}

#download {
	position:absolute;
	right: 10px;
	top: 7px;
	background-color: rgba(0,51,102,0.4);
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px;
}

#download span a {
	font-family: 'Sansita One', cursive;
	font-size: 0.7em;
	color: #FFFFFF;
	text-decoration: none;
}

#photo {
	width: 300px;
	height: 356px;
	background-color: #CCCCCC;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#photo img {
	margin: 3px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#launchApp {
	clear: both;
	margin:0 auto;
	margin-top:20px;
	margin-bottom: 30px;
	width:150px;
	height:30px;
	line-height:30px;
	background-color: rgba(46,173,201,0.7);
	text-align: center;
	padding: 5px;
	color: #FFFFFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.2em;
	font-family: 'Black Ops One', cursive;
	letter-spacing: 0.13em;
}

#deleteButton {
	margin:0 auto;
	width:150px;
	height:30px;
	line-height:30px;
	background-color: rgba(255,0,0,0.6);
	text-align: center;
	padding: 5px;
	color: #FFFFFF;
	margin-top:10px;
	margin-bottom:20px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-size: 1.2em;
	font-family: 'Black Ops One', cursive;
	letter-spacing: 0.13em;
}

.mediumButton {
	margin:0 auto;
	width:150px;
	height:30px;
	line-height:30px;
	background-color: rgba(46,173,201,0.7);
	text-align: center;
	padding: 5px;
	color: #FFFFFF;
	margin-top:5px;
	margin-bottom:5px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#qr_code {
	clear: both;
	background-color: #FFFFFF;
	width: 170px;
	height: 180px;
	margin-top: 20px;
	margin-left: 65px;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#qr_code img {
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#read_count {
	text-align: center;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 1em;
	letter-spacing: 0.13em;
}

#report {
	text-align: center;
	font-size: 1em;
	margin: 15x auto;
}

#permalink {
	margin-top: -15px;
	font-size: 0.7em;
	text-align: center;
}

#footer {
	text-align: center;
	font-family: 'Allerta Stencil', sans-serif;
	font-size: 1em;
	letter-spacing: 0.13em;
	margin-top: 10px;
	margin-bottom: 10px;
}