{% load i18n %}

{% extends "base_generic.html" %}

{% block title %}My Archives - KesiKesi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
<script language="Javascript" type="text/javascript">
	var date = '{{ date }}';
	var loading = false;
	$(function() {
		$("#loadMore").click(function(){
			if (loading) {
				return;
			}
			loading = true;
			$("#loadMore span").text("Loading");
			$.post('/page/api/archives_load_more', {date: date}, function(data){
				for (i in data['data']) {
					img = '<div style="background-color: #CCCCCC;border-radius: 5px;width: 48px; height:48px;float: left;margin: 6px;">';
					img += '<a href="/'+ data['data'][i]['image_key'] +'?actionButton={{ actionButton }}"><img src="/api/get_image?id='+ data['data'][i]['image_key'] +'&style=icon48" style="border-radius: 5px;" /></a>';
					img += '</div>';
					console.log(data['data'][i]['image_key']);
					$("#archiveList").append(img);
				}
				date = data['date'];
				if (date === false) {
					$("#loadMore").hide();
				}
				console.log('date:' + date);
				$("#loadMore span").text("Load More");
				loading = false;
			}, "json");
		});
		
		$("#howToUseIt").click(function(){
			window.location = "http://www.youtube.com/watch?v=kAduUbm1FN4";
		});
		
{% if load_more_hide %}
		$("#loadMore").hide();
{% endif %}

{% ifequal version 'v2' %}
	window.location = "ksks://www.kesikesi.me/buttonStatus?navigationButton=on&actionButton=off";
{% else %}
	{% ifequal action 'login' %}
		window.location = "ksks://www.kesikesi.me/page/login/success";
	{% endifequal %}
{% endifequal %}
		
	});
</script>
{% endblock %}

{% block content %}
<div id="title">
	<span>My Archives</span>
</div>

<div id="archiveList" style="margin-left: 3px;">
{% for archive in archive_list %}
<div style="background-color: #CCCCCC;width: 48px; height:48px;float: left;margin: 6px;border-radius: 5px;">
	<a href="/{{ archive.image_key }}?actionButton={{ actionButton }}"><img src="/api/get_image?id={{ archive.image_key }}&style=icon48" style="border-radius: 5px;" /></a>
</div>
{% endfor %}
</div>

{% if how_to_use_it %}
<div style="clear: both;padding-top: 10px;">
	<div id="howToUseIt">
		<span>{% trans "How to use it.(YouTube)" %}</span>
	</div>
</div>
{% endif %}

<div style="clear: both;padding-top: 10px;">
	<div id="loadMore" style="margin:0 auto;width:130px;border-radius: 5px;background-color: rgba(0,51,102,0.4);text-align: center;padding: 5px;color: #FFFFFF;margin-top:5px;margin-bottom:5px;">
		<span>Load more</span>
	</div>
</div>

<hr />

<center><p>{{ account }}</p></center>

<hr />

<center><p><a href="/page/settings">Settings</a> | <a href="{{ logout_url }}">Logout</a></p></center>
{% endblock %}