<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=320, user-scalable=no /">

<style>
	body {
		background-image: url(https://twimg0-a.akamaihd.net/profile_background_images/26365115/stripe_8775e6a92916944f4bfa76a79d845088.png);
	}
</style>

<title>Settings - KesiKesi</title>
</head>
<body>
	
<div style="position:relative;background-color: rgba(46,173,201,0.7);text-align: center;padding: 5px;color: #FFFFFF;margin-top:5px;margin-bottom:5px;">
	<span>Google Account</span>
</div>

<p><b>{{ account }}</b></p>

{% if connected %}
<p><b>Connected</b></p>
<p><a href="/page/settings/google?id={{ user_id }}&mode=disconnect">Disconnect</a></p>
{% else %}
<p><b>Not Connected</b></p>
<p><a href="/page/settings/google?id={{ user_id }}&mode=connect">Connect</a></p>
{% endif %}

<center><p style="margin-top: 15px;"><a href="javascript:history.back();">&lt; Back</a></p></center>

<hr />

<center><p><a href="/page/archive?id={{ user_id }}">Home</a> | <a href="/page/settings?id={{user_id}}">Settings</a></p></center>

</body>
</html>