{% extends "page/base_generic.html" %}

{% block title %}My First KesiKesi - KesiKesi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
	{% if version == 'v2' %}
		window.location = "ksks://www.kesikesi.me/buttonStatus?navigationButton=on&actionButton=off";
	{% else %}
		{% if action == 'login' %}
			window.location = "ksks://www.kesikesi.me/page/login/success";
		{% endif %}
	{% endif %}
	
	$("#howToUseIt").click(function(){
		window.location = "http://www.youtube.com/watch?v=peYrFmF_KgE";
	});
});
</script>
{% endblock %}

{% block content %}
<div style="text-align: right;"><img src="/images/start_here.png" /></div>
<center><p style="font-size: 1.3em;">Start Here!</p></center>

<div id="howToUseIt">
	<span>{% trans %}How to use it.(YouTube){% endtrans %}</span>
</div>

<hr />

<center><p>{{ account }}</p></center>

<hr />

<center><p><a href="/page/settings">Settings</a> | <a href="{{ logout_url }}">Logout</a></p></center>
{% endblock %}