{% extends "base_generic.html" %}

{% block title %}My First KesiKesi - KesiKesi{% endblock %}

{% block css %}{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(function() {
	{% ifequal action 'login' %}
		window.location = "ksks://www.kesikesi.me/page/login/success";
	{% endifequal %}
});
</script>

{% endblock %}

{% block content %}
<p>Push Camera Button to Start!</p>

<hr />

<center><p>{{ account }}</p></center>

<hr />

<center><p><a href="/page/archive">Home</a> | <a href="/page/settings">Settings</a> | <a href="{{ logout_url }}">Logout</a></p></center>
{% endblock %}